

* {
    /*Parametros generales*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/Fondo.jpg);
}
h1{
    text-align: center;
    background-color: #93E0F4;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    padding: 20px;
}


footer{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #93E0F4; 
    color: white;
    font-family: Comic Sans MS;
    font-size: 15px;
    padding: 10px;
    margin-top: 20px;
    
    
}


.controls{
    width: 75%;
    background-color: #e9e9e9 ;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #072146;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
}

.contenedor2 { 
    width: 450px;
    background-color: #e9e9e9;
    padding: 30px; /*centra el contenido en el div*/
    margin: auto;
    margin-top: 100px;
    box-shadow: 1px 1px 40px black;
    border-radius: 15px;
    color: rgb(34, 34, 34);
    font-family: 'calibri';
}
 .contenedor3{
    
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px 250px;
 }

 .bontons{
    width: 40%;
    background-color: #237ABA;
    padding: 8px;
    font-size: 15px;
    margin: 16px 0;
    color: #ffffff;
   
 }
 .parte{
    background-color: #07C7FF;
    font-family: Comic Sans MS;
    font-weight: bold;
    padding: 22px;
    text-align: center;
    margin-right: 5px;
     margin-bottom: 5px;
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    font-size: 20px; /* Tamaño de fuente */
    color: white;

    
 }

 .contenedor4 :hover{
    background-color: #237ABA ;
}


p {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: 0.5px 0.5px black;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    padding: 10px;
  
    margin-bottom: 20px;
}


#final {
    background-color: #93E0F4;
    opacity: 0.5;
  }

 @media screen and (max-width:992px) {

    .contenedor {
        width: auto;
    }

}

@media screen and (max-width:768px) {

    .contenedor2 {
        width: 50%;
    }

}

@media screen and (max-width:468px) {

    .contenedor2  {
        width: 100%;
    }

}



 

